body {
    background-color: lightblue;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  input[type=password] {
    margin-top: 10px;
  }
  
  .btn-primary {
    margin-top: 10px;
  }
  
  .btn-primary {
    margin-top: 10px;
  }
  
  .flash-messages {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}