<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for("static", filename="styles2.css")}}" />
    <link rel="icon" type="image/x-icon" href="{{url_for("static", filename="vgtu.jpeg")}}">
</head>
<body>
    <div class="container">
        <h2 class="text-lg text-center">{{ current_user.get_name() }}'s Dashboard</h2>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Prof./Asst. Prof./Lab Asst.</th>
                        <th>Available Hours</th>
                        <th>Event Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for teacher in teachers %}
                    <tr>
                        <td>{{ teacher.subject }}</td>
                        <td>{{ teacher.name }}</td>
                        <td>{{ teacher.get_hours() }}</td>
                        <td>
                            {% if teacher is defined and teacher is not none and teacher.__class__.__name__ == 'LabTeacher'%}
                                Not Available
                            {% else %}
                                {% if current_user.event_exists(teacher.email) %}
                                Created
                                {% else %}
                                Not Created
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table-container">
            <h3 class="text-lg text-center">Current Events</h3>
            <table>
                <thead>
                    <tr>
                        <th>Event No</th>
                        <th>Teacher</th>
                        <th>Timing</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    {% for act in current_user.currentevents %}
                    <tr>
                        <td>{{ act.eventno }}</td>
                        <td>{{ current_user.get_teacher_name(act.teacher_email, teachers) }}</td>
                        <td>{{ act.starttime }} to {{ act.endtime }}</td>
                        <td>
                            <div class="comments-container">
                                {% for comm in act.updates %}
                                    ({{ comm[0] }}) :- {{ comm[1] }} : {{ comm[2] }} <br>
                                {% endfor %}
                            </div>
                            <div class="comment-form-container">
                                {% if act.eventno == event_no %}
                                    <form action="/studentdashboard/comment" method="POST">
                                        <input type="hidden" name="action" value="add_comment"> 
                                        <input type="hidden" name="event_no" value="{{ act.eventno }}"> 
                                        <input type="text" class="form-control" id="comment" placeholder="Type Comment" name="comment">
                                        <button type="submit" class="btn btn-primary">Add Comment</button>
                                    </form>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-center">
                <form action="/logout" method="POST">
                    <button type="submit" class="button">Logout</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>